// NAVBAR START
img {
  width: 30px;
  height: 30px;
}

nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin: 0 30px;
}

.hamburger_class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  i {
    font-size: 25px;
    cursor: pointer;
  }
}

.google_apps {
  i {
    font-size: 25px;
  }

  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gmail {
  height: 35px;
  width: 35px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// NAVBAR END

// SIDE NAVBAR START
.class_logo {
  height: 35px;
  width: 35px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home_pg {
  display: flex;
  align-items: center;
  gap: 20px;

  i {
    font-size: 20px;
  }
}

.class_pg {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;

  i {
    font-size: 20px;
  }
}
.hidden {
  width: 80px !important;
  .text {
    display: none;
  }
}
.sidenavbar {
  width: 300px;
  padding-top: 61px;
  height: calc(100vh - 61px);
  border-right: 1px solid #ddd;
  display: block;
  position: fixed;
  z-index: 90;
  background-color: #fff;
}
// .hidden{
//     display: none;
// }

.pages {
  border-bottom: 1px solid #ddd;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  gap: 20px;
}

.settings {
  border-bottom: 1px solid #ddd;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sidenavbar_short {
  width: 100px;
  padding-top: 61px;
  height: calc(100vh - 61px);
  border-right: 1px solid #ddd;
}

@media only screen and (max-width: 550px) {
  .google_apps {
    display: none;
  }

  .sidenavbar {
    display: none;
  }
}
